@import 'tailwindcss';

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-primary: #FDFDFD;
  --text-secondary: #A4A7AE;
  --button-primary: #8B1B0E;
  --color-primary: #FDFDFD;
  --color-secondary: #1F2937;
  --color-accent: #F59E0B;
  --color-muted: #9CA3AF;
  --color-surface: #0B0B0B;
}

html, body {
  height: 100%;
}
#root {
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
  overflow: visible;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


.luminosity {
  mix-blend-mode: luminosity;
  mask-type:luminance
}